<template>
  <div class='row
      align-items-center
      cartButton
      no-gutters'
       @click='openModal'
       @mouseenter='onHover = true'
       @mouseleave='onHover = false'
  >
    <div class='separator'></div>
    <div :class='{hovered: onHover}' class='icon'>
      <cart-icon/>
    </div>
    <span class='text-light smallText navbar-text pl-3 d-none d-sm-block'>
        Shopping-cart
    </span>
    <div class='
            ml-3
            bg-primary
            text-white
            mediumText
            badge
            d-flex
            align-items-center
            justify-content-center'
    >
      <div>
        {{ numberOfCommand }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import cartIcon from "@/components/icons/cartIcon"

export default {
  name: 'CartButton',
  components: { cartIcon },
  data() {
    return {
      onHover: false
    }
  },
  computed: {
    ...mapGetters('cart', ['numberOfCommand'])
  },
  methods: {
    openModal() {
      this.$bvModal.show('cartModal')
    }
  }
}
</script>

<style lang='sass' scoped>
.button
  border-left: solid 1px var(--primary)
  border-radius: 0 !important

.cartButton
  cursor: pointer
  padding-right: 45px
  position: relative
  z-index: 1050
  background-color: white
  height: 80px

.separator
  width: 1px
  height: 48px
  margin-left: 22px
  margin-right: 17px

.icon
  transition: transform 250ms

.badge
  border-radius: 50% !important
  height: 36px !important
  width: 36px !important

.hovered
  transform: scale(1.6)

@media(max-width: 576px)
  .cartButton
    padding-right: 12px
</style>
