<template>
  <b-navbar
    class='shadow-sm navbar row justify-content-between no-gutters'
    type='light'
    variant='white'
  >
    <b-navbar-brand>
      <header-the-dewalt-logo class='my-2' />
    </b-navbar-brand>
    <b-navbar-nav >
      <header-cart-button />
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
// import DewaltLogo from '~/components/header/TheDewaltLogo'
// import CartButton from '@/components/header/CartButton'

export default {
  name: 'TheHeader',
  // components: { DewaltLogo, CartButton }
}
</script>

<style lang='sass' scoped>
.navbar
  padding: 0 0 0 20px !important
</style>
