<template>
  <b-row class='mt-5 pt-4 px-4 px-xl-0'
         no-gutters
  >
    <!-- responsive: card second for xs devices -->
    <!-- responsive: ratio change for smaller devices-->
    <b-col cols='12' lg='8' order='2' order-sm='1' sm='6'>
      <b-card
        body-class='bodyClass'
        border-variant='white'
        class='mb-4 mb-sm-0'
      >
        <b-card-text
        >
          <div class='bigText text-secondary'>{{ product.comments }}</div>
          <div class='price text-primary mt-4'>
            ${{ product.price.toLocaleString('en') }}
          </div>
          <div class='separator mt-4 mb-4 pb-2'></div>
          <div class='mediumText text-dark'>
            {{ product.details }}
          </div>
          <div class='mediumText text-light condition my-4 py-2'>
            Prices valid till 31.10.2019, yearly adjustement for conversion rate
            to EURO.
          </div>
          <!-- responsive: large space between buttons for xs devices-->
          <div
            class='row align-items-center no-gutters mt-1 justify-content-between justify-content-sm-start'>
            <div
              class='buttonContainer buttonSize row align-items-center no-gutters justify-content-between mr-sm-3'>
              <b-btn
                class='adjustButton text-secondary row align-content-center no-gutters'
                @click='decrease'
              >
                <div class='minus'>-</div>
              </b-btn>
              <div class='mediumText'>{{ number }}</div>
              <b-btn
                class='adjustButton text-secondary row align-content-center no-gutters'
                @click='increase'
              >
                <div>+</div>
              </b-btn>
            </div>
            <b-btn
              variant='primary text-white buttonSize'
              @click='addToCart'
            >
              Add to Cart
            </b-btn>
          </div>
        </b-card-text>
      </b-card>
    </b-col>
    <!-- responsive: image first for xs devices -->
    <!-- responsive: ratio change for smaller devices-->
    <b-col class='mb-3' cols='12' lg='4' order='1' order-sm='2' sm='6'>
      <b-img
        :src='require(`~/assets/pictures/${product.picture}`)'
        alt='Responsive image'
        fluid-grow
      />
    </b-col>
  </b-row>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BigCard',
  props: {
    product: Object
  },
  data() {
    return {
      number: 1
    }
  },
  methods: {
    ...mapActions('cart', ['addToCommand']),
    increase() {
      this.number++
    },
    decrease() {
      if (this.number > 1) this.number--
    },
    addToCart() {
      const command = {product: this.product, number: this.number}
      this.addToCommand(command)
      // console.log('add to cart', command)
    }
  }
}
</script>

<style lang='sass' scoped>
.bodyClass
  padding: 0 20px 0 0

.bigText
  font-size: 48px
  font-weight: 900
  line-height: 56px

.price
  font-size: 24px
  font-weight: 900

.condition
  font-weight: 500

.separator
  height: 10px

.buttonContainer
  background-color: rgba(229, 229, 229, 0.5)
  //margin-right: 16px
  border-radius: 3px
  padding: 0 6px

.buttonSize
  width: 120px
  height: 48px

.adjustButton
  background-color: #E5E5E5
  width: 36px
  height: 36px
  border: none
  font-size: 24px

.minus
  font-size: 40px

</style>
