<template>
<!--img-src="~/assets/pictures/product_1.jpg"-->
  <b-card
    :img-src="require(`~/assets/pictures/${product.picture}`)"
    img-alt="Image"
    img-top
    tag="article"
    class="card mb-4 mt-3"
    border-variant='white'
    body-class='cardBody'
    @click='getProduct'
  >
    <template #default>
      <b-row no-gutters>
        <b-col class='mediumText'>{{ product.title }}</b-col>
        <div class='text-right text-primary mediumText'>${{ product
          .price.toLocaleString('en') }}
        </div>
      </b-row>
      <div class='separator'></div>
      <div>
        <div class='text-dark'>{{ product.comments }}</div>
      </div>
    </template>
  </b-card>
</template>

<script>
export default {
  name: 'SmallCard',
  props: {
    product: Object
  },
  methods: {
    getProduct() {
      this.$emit('productClicked')
    }
  }
}
</script>

<style lang='sass' scoped>
.card
  width: 100%
  padding: 0 10px
  cursor: pointer
  transition: transform 250ms

.card:hover
  transform: scale(1.05)

.cardBody
  padding: 10px 0 0 0

.mediumText
  font-weight: 500

.separator
  margin: 10px 0
  height: 5px

.text-dark
  font-weight: 400
</style>
