// All of custom SCSS variables go first
$primary: #FEBD17;
$secondary: #373738;
$light: #ACACAC;
$dark: #484848;

$font-family-base: "Roboto", sans-serif !default;

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';

//all other custom scss files or css should be added here
//
.smallText {
  font-size: 12px;
}

.mediumText {
  font-size: 16px
}

.separator {
  background-color: rgba(254, 189, 23, 0.1);
}

// set transition between pages
.page-enter-active,
.page-leave-active {
  transition: opacity 250ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all 250ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}

