<template>
  <product-card-big-card :product='selectedProduct' />
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  validate(data) {
    return data.store.getters['products/idProductArray'].includes(data.params.id)
  },
  computed: {
    ...mapGetters('products', ['allProducts']),
    selectedProduct() {
      return this.allProducts[this.$route.params.id]
    }

  }
}
</script>

<style scoped>

</style>
