<template>
  <div>
    <Header />
    <cart-modal />
    <b-container class='container' fluid>
      <Nuxt />
    </b-container>
  </div>
</template>

<script>
import Header from "~/components/header/TheHeader"
import CartModal from "~/components/cartElements/CartModal"

export default {
  name: 'default.vue',
  components: { Header, CartModal}
}
</script>

<style lang='sass' scoped>
.container
  max-width: 1164px!important
  padding: 0!important

</style>
