<template>
  <div>
    <b-row class='justify-content-between align-items-center mt-4 pt-1' no-gutters>
      <b-col class='px-0 text-dark mediumText col-9 col-sm-auto' >
        {{ command.product.comments }}
      </b-col>
      <b-col col>
        <div class='separator'></div>
      </b-col>
      <b-col cols='auto'>
        <div class='mr-2 trashButton' @click='removeFromCart()'>
          <trash-icon/>
        </div>
      </b-col>
    </b-row>
    <b-row class='mt-3 pt-1 mb-4 pb-3' no-gutters>
      <b-col class='text-light mediumText offset-3 offset-sm-6 col-sm-3'>
        {{ commandCalcul }}
      </b-col>
      <b-col cols='3' class='text-secondary mediumText'>
        {{ totalAmount }}
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import trashIcon from "@/components/icons/trashIcon"

export default {
  name: 'CartElement',
  components: { trashIcon },
  props: {
    command: Object
  },
  computed: {
    commandCalcul() {
      return `${this.command.number} x ${this.command.product.price.toLocaleString('en')}$`
    },
    totalAmount() {
      return `${(this.command.number * this.command.product.price).toLocaleString('en')}$`
    }
  },
  methods: {
    ...mapActions('cart', ['removeFromCommand']),
    removeFromCart() {
      this.removeFromCommand(this.command.product.id)
    }
  }
}
</script>

<style lang='sass' scoped>
.mediumText
  font-weight: 500

.trashButton
  transition: transform 250ms
  cursor: pointer

.trashButton:hover
  transform: scale(1.8)

.hovered
  transform: scale(1.8)

.separator
  height: 1px
  margin: 0 20px
</style>
