<template>
  <div>
    <transition name='slide-fade' mode='out-in'>
    <b-row v-if='totalCost !=="0$"' key='total' class='my-4 align-items-center'
           no-gutters
    >
      <b-col class='offset-6 mediumText text-secondary' cols='3'>
        TOTAL
      </b-col>
      <b-col class='bigText text-primary' cols='auto'>
        {{ totalCost }}
      </b-col>
      <b-btn class='col-12 col-sm ml-sm-3 text-white mt-3 mt-sm-0'
             variant='primary'
             @click='sendCart'
      >
            <span class='mediumText'>
            Validate
            </span>
      </b-btn>
    </b-row>
    <b-row v-else key='noItem' class='my-5'>
      <b-col class='col text-secondary mediumText'>
        There is no item in the cart.
      </b-col>
    </b-row>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CartFooter',
  props: {
    totalCost: String
  },
  computed: {
    ...mapGetters('cart', ['commands'])
  },
  methods: {
    sendCart() {
      const command = {
        uuid: this.commands
      }
      window.alert(`Your command: ${JSON.stringify(command)}`)
    }
  }
}
</script>

<style lang='sass' scoped>
.button
  margin-left: 20px

.mediumText
  font-weight: 500

.bigText
  font-weight: 700

</style>
