<template>
  <b-modal id='cartModal'
           content-class='contentClass'
           footer-class='cartFooter'
           header-class='headerClass'
           hide-footer
           modal-class='cartModal'
           title='BootstrapVue'
  >
    <template #default>
      <transition-group name='slide-fade'>
        <cart-element v-for='command in commands' :key='command.product.id'
                      :command='command' />
      </transition-group>
      <b-row class='separator row' no-gutters />
      <cart-footer :totalCost='globalCost' />
    </template>
  </b-modal>
</template>

<script>
import { mapGetters } from 'vuex'
import CartElement from '@/components/cartElements/CartElement'
import CartFooter from '@/components/cartElements/CartFooter'

export default {
  name: 'CartModal',
  components: { CartElement, CartFooter },
  computed: {
    ...mapGetters('cart', ['commands', 'totalCost']),
    globalCost() {
      return `${this.totalCost.toLocaleString('en')}$`
    }
  }
}
</script>

<style scoped>
/*use /deep/ to reach the cardModal class in scoped ENV*/
/deep/ .cartModal > div {
  position: absolute !important;
  top: 80px !important;
  right: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}

/deep/ .headerClass {
  display: none;
}

/deep/ .contentClass {
  border: none !important;
  border-radius: 0 !important;
  padding: 0 20px;
}

/deep/ .cartFooter {
  border-top: solid 5px rgba(254, 189, 23, 0.1) !important;
}

/deep/ .modal-dialog {
  max-width: 730px !important;
  width: 730px !important;
}

/deep/ .modal-body {
  padding: 0 !important
}

.separator {
  height: 5px;
  padding: 0 20px;
}

@media (max-width: 576px) {
  /deep/ .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
  }
}
</style>
