<template>
  <div class='rowContainer'>
    <b-row class='title text-secondary'>
      Just booked
    </b-row>
    <b-row align-h='center' no-gutters>
      <product-card-small-card
        v-for='(card,index) in booked'
        :key='index'
        :product='card'
        class='col-12 col-md-6 col-lg-3 col-xl-2'
        @productClicked='goToProductPage(card)'
      />
    </b-row>
    <b-row class='title text-secondary mt-3 mt-lg-1'>
      Featured experience
    </b-row>
    <b-row align-h='center' no-gutters>
      <product-card-small-card
        v-for='(card,index) in featured'
        :key='index'
        :product='card'
        class='col-12 col-md-6 col-lg-3 col-xl'
        @productClicked='goToProductPage(card)'
      />
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      array: [...Array(5).keys()]
    }
  },
  computed: {
    ...mapGetters('products', ['featured', 'booked'])
  },
  methods: {
    goToProductPage(card) {
      this.$router.push(`product/${card.id}`)
    }
  }
}
</script>

<style lang='sass' scoped>
.rowContainer
  margin-top: 52px

.title
  font-size: 36px
  font-weight: 900
  margin: 0 0 0 10px

// change col behaviour in large screen to have exactly 5 columns
@media (min-width: 1200px)
  .col-xl-2
    flex: 0 0 20% !important
    max-width: 20% !important
</style>
